main {
  height: 1300px;
}

.view-only {
  margin: 0px 0px 25px 49px;
  font-weight: bold;
  color: #a63d40;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 410px);
  grid-gap: 90px;
  justify-content: center;
}
