main {
  height: 1300px;
}

.view-only {
  margin: 0px 0px 25px 49px;
  font-weight: bold;
  color: #a63d40;
}

.delete-button {
  border-radius: 5px;
  cursor: pointer;
  background-color: #a63d40;
  width: 70px;
  height: 41px;
  color: black;
  border: none;
  margin: 78px 0px 40px 55px;
}

.cards {
  display: flex;
  grid-gap: 90px;
  justify-content: center;
  flex-wrap: wrap;
}
